# [教學目標]
- Pandas 處理最常用的資料格式, 我們稱為 DataFrame, 試著使用不同的方式新建一個 DataFrame 吧
- 練習看看 DataFrame 可以對資料做什麼操作? (groupby 的使用)

# [範例重點]
- 新建 DataFrame 方法一 (In[2], In[3])
- 新建 DataFrame 方法二 (In[4], In[5])
- 資料操作 : groupby (In[6], Out[6])

In [92]:
import pandas as pd

### 方法一

In [93]:
data = {'weekday': ['Sun', 'Sun', 'Mon', 'Mon'],
        'city': ['Austin', 'Dallas', 'Austin', 'Dallas'],
        'visitor': [139, 237, 326, 456]}

In [94]:
visitors_1 = pd.DataFrame(data)
print(visitors_1)

  weekday    city  visitor
0     Sun  Austin      139
1     Sun  Dallas      237
2     Mon  Austin      326
3     Mon  Dallas      456

### 方法二

In [95]:
cities = ['Austin', 'Dallas', 'Austin', 'Dallas']
weekdays = ['Sun', 'Sun', 'Mon', 'Mon']
visitors = [139, 237, 326, 456]

list_labels = ['city', 'weekday', 'visitor']
list_cols = [cities, weekdays, visitors]

zipped = list(zip(list_labels, list_cols))
print(zipped)

[('city', ['Austin', 'Dallas', 'Austin', 'Dallas']), ('weekday', ['Sun', 'Sun', 'Mon', 'Mon']), ('visitor', [139, 237, 326, 456])]

In [96]:
visitors_2 = pd.DataFrame(dict(zipped))
print(visitors_2)

     city weekday  visitor
0  Austin     Sun      139
1  Dallas     Sun      237
2  Austin     Mon      326
3  Dallas     Mon      456

## 一個簡單例子
假設你想知道如果利用 pandas 計算上述資料中，每個 weekday 的平均 visitor 數量，

通過 google 你找到了 https://stackoverflow.com/questions/30482071/how-to-calculate-mean-values-grouped-on-another-column-in-pandas

想要測試的時候就可以用 visitors_1 這個只有 4 筆資料的資料集來測試程式碼

In [97]:
visitors_1.groupby("weekday", as_index=False)['visitor'].mean()
# print( visitors_1.groupby("weekday", as_index=False)['visitor'] )

  weekday  visitor
0     Mon      391
1     Sun      188

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [98]:
import numpy as np

In [99]:
np.random.seed(0)
# 測試
data = {
    'ID': np.random.randint(1000, 10000, size = 1000),
    'Height': np.random.randn(1000)*20 + 159
}
data = pd.DataFrame(data)
print( data['Height'].mean() )

159.43910767665605

In [111]:
np.random.seed(0)
# 國家&人口
data = {
    'Country': ['US', 'UK', 'CN', 'TW'],
    'Population': np.random.randint(1000000, 1000000000, size = 4)
}
data = pd.DataFrame(data)

print(data)

# print( data['Population'].mean() )

print( data[ data['Population'].max() == data['Population'] ]) # 法一

print( data.iloc[ data['Population'].values.argmax() ] ) # 法二

  Country  Population
0      US   210652396
1      UK   399764591
2      CN   925231285
3      TW   405868288
  Country  Population
2      CN   925231285
Country              CN
Population    925231285
Name: 2, dtype: object